

             * {
                overflow: auto;
            }
            body {
                background-color: #8BA1BB;
                font-family: Arial;
                margin: 0;
            }


        

            div.contenu {
                
                margin: 60px 30px 80px 30px;
                background-color: white;
                padding: 0px 30px 30px 30px;
                min-width: 350px; /* Largeur minimale pour le contenu */
                box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.2); /* Ombre portée pour le contenu */
                overflow: visible;


               
            }

            h1 {
                text-align: center;
                margin-bottom: 12px;
                
            }
            
            p.description {
                text-align: center;
                max-width: 400px ; /* Ajustez la largeur maximale selon vos besoins */
                display: inline-block; /* Pour centrer le texte */
                font-size: 14px;
                
            }
            .center {
                text-align: center;
                width: 100%; /* Pour centrer le contenu */
                
            }
            div.center {
                text-align: center;
               
            }

            p.categorie {
                font-weight: bold;
                font-size: 18px;
                background-color: black;
                margin-bottom: 0px;
                color: white;
                display: inline-block;
                margin-top: -20px;
                padding: 8px 18px    
               
                  
            }
            div.categorie {
                margin-bottom: 0px;
                margin-top: 0px;
                overflow: visible;
            }

            div.separateur {
                width: 100px;
                height: 2px;
                background-color: black;
                margin-left: auto;
                margin-right: auto;
               

            }
            div.info {
               
                position: relative;
               
            }
            
            table.info {
                position: absolute;  /* Positionnement absolu pour superposer la table */
                bottom: 0; /* Positionne la table en bas du conteneur */
                width: 100%;  /* Prend toute la largeur du conteneur */
                color: white;/* Largeur de la table */
                background-color: #6C829DC0; /* Couleur de fond semi-transparente */
                height: 80px; /* Hauteur de la table */
               

                    
            }

            table.info td {
                text-align: center; /* Centrer le texte dans les cellules */
                font-size: 14px; /* Taille de la police */
                vertical-align: top; /* Aligner le texte en haut des cellules */
                
            } 

             table.info th {
                text-align: center; /* Centrer le texte dans les cellules */
                font-size: 16px; /* Taille de la police */
                vertical-align: bottom; /* Aligner le texte en bas des cellules */
                padding-bottom: 8px; /* Espace entre le texte et le bas de la cellule */
            } 

            img.info {
                display: block;
                max-height: 400px;
                object-fit: cover;
                min-height: 200px; /* Hauteur minimale pour l'image */
               background-color: lightgray; /* Couleur de fond pour l'image */
                
            }

            div.colonne {
                width: 45%; /* Largeur des colonnes */
                margin-top: 20px; /* Espace au-dessus des colonnes */
            }

            div.colonne h2 {
                border-bottom: solid 7px #6C829D; /* Ligne en dessous du titre */
                text-align: center; /* Centrer le titre des colonnes */
                text-transform: uppercase;
                font-size: 15px; /* Taille de la police pour les titres des colonnes */
                padding-bottom: 5px; /* Espace entre le texte et la ligne */
                
               
               
                
            }

            div.colonne1   {
                 /* Couleur de fond pour la colonne 1 */  
                display: inline-block; /* Pour que les colonnes soient côte à côte */
                margin-right: 10%;
               
            }
            div.colonne2 {
                float: right; /* Pour que la colonne 2 soit à droite */
                
               
            }

            div.ingredients p {
                text-align: center;
                font-size: 14px;
                border: solid 1px lightgray;
                padding: 8px 0;
                margin-top: 4px;
                margin-bottom: 0;
                
            }

            table.preparation p.numero {
                background-color: #6C829D;
                color: white;
                width: 25px;
                height: 25px; 
                font-size: 14px;
                font-weight: bold;
                text-align: center;
                padding-top : 4px;
                box-sizing: border-box;
                border-radius: 50%;
                margin: 0
             
            }

            table.preparation td{
            
                vertical-align: top;
            }

            table.preparation td.preparation_etape {
                padding-left: 10px;
                font-size: 14px;
                padding-bottom: 10px;
            }

            table.preparation tr {
                height: 40px;
            }
           
            
 